
<h1>Project is Working</h1>
<!-- <button (click)="click()">Click Me</button>
<div class=" bg-success text-dark" *ngIf="checkNgIf">This is ng if example</div>
<input type="radio" name="radio" (click)="changeValue(true)">True
<input type="radio" name="radio" (click)="changeValue(false)">False
<div *ngIf="isvalid; else elseBody">
    This is valid data
</div>
<ng-template #elseBody>
    <div>
        This is not valid data
    </div>
</ng-template>
    <select (change)="setvalue($event)">
        <option value="">select</option>
        <option value="one">One</option>
        <option value="two">Two</option>
        <option value="three">Three</option>
        <option value="another">Default</option>
    </select>
    <div [ngSwitch]="choose">
        <h3 *ngSwitchCase="'one'">First</h3>
        <h3 *ngSwitchCase="'two'">Second</h3>
        <h3 *ngSwitchCase="'three'">Third</h3>
        <h3 *ngSwitchDefault>Default</h3>
        
    </div>
    <ul>
        <li *ngFor="let data of Students;let i=index"> 
          {{i+1}} - {{data.name}}
        </li>
    </ul>
  <table >
    <tr *ngFor="let s of Students;let i=index;trackBy:trackByStudentId">
        <td>{{i+1}}</td>
        <td>{{s.studentid}}</td>
        <td>{{s.name}}</td>
        <td>{{s.gender}}</td>
        <td>{{s.age}}</td>
        <td>{{s.course}}</td>
    </tr>
  </table>
  <br>
  <button (click)="getMoreStudents">Get More Students</button> -->

  <!-- <ul *ngFor="let group of Countrydetails">
      <li>{{group.country}}</li>
  </ul>
  <ul>
      <li *ngFor="let person of group.people">
        {{person.name}}
      </li>
  </ul> -->

  <!-- <h2>Ng Style example</h2>
  <ul *ngFor="let person of people">
      <li [ngStyle]="{'color':getcolor(person.country)}">
        {{person.name}}- {{person.country}}
      </li>
  </ul> -->
  <!-- <h2 >ngClass</h2>
  <p [ngClass]="'one four'"> Using Class with string example</p>
  <div *ngFor="let user of users" [ngClass]="'one four'">
      {{user}}
  </div> -->
  <h2>Hii {{name}}</h2>
<!-- Enter your name<br><input [value]='data' (input)='data=$event.target.value'><br>
Your name:{{data}}<br>
<input [(ngModel)]='data1'><br>
Entered Value:{{data1}} -->
<table border="1">
    <tr>
        <th>Emp code</th>
        <th>Emp name</th>
        <th>Emp salary</th>
        <th>Gender</th>
    </tr>
    <tr *ngFor="let emp of employees">
        <td>{{emp.code}}</td>
        <td>{{emp.name | myPipe:emp.gender}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.gender}}</td>
    </tr>
</table>
<br><br>
<!-- <h3>{{currentDate}}</h3>
<h3>{{currentDate|date:'shortDate'}}</h3>
<h3>{{currentDate|date:'longDate'}}</h3>
<h3>{{currentDate|date:'fullDate'}}</h3>
<br><br>
<h3>{{myNumber}}</h3>
<h3>{{myNumber|percent}}</h3>
<h3>{{myNumber|percent:'2.4-8'}}</h3> -->
<!-- <a [routerLink]="['/student']">Student</a><br>
<button (click)="student()">Show Student</button>
<a [routerLink]="['/parenttdetails']">Parent Details</a> -->
<!-- <h2>{{text}}</h2>
<table border="1">
    <tr *ngFor="let em of emp">
        <td>Emp code {{em.empcode}}</td>
        <td>Emp name {{em.name}}</td>
    </tr>
</table>
<div>
    <router-outlet></router-outlet>
</div> -->
<div class="container-fluid">
    <!-- <div class="row">
        <div class="form-bg">
            <form #regForm='ngForm' (ngSubmit)="Registration(regForm)">
                <h2 class="text-center">Registration Form</h2><br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" name="firstname" required ngModel>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" name="lastname" required ngModel>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" name="emailid" email required ngModel #email="ngModel">
                    <span class="help-bpx" *ngIf="email.touched && !email.valid">Please enter email value</span>
                </div><br>
                <div class="align-center">
                    <button type="submit" class="btn btn-primary" id="register" [disabled]="!regForm.valid">Register</button>
                </div>
            </form>
        </div>
    </div> --><br><br>
    <!-- <div class="row ml-5">
        <div class="form_bg">
            <form [formGroup]='signupForm' (ngSubmit)="PostData(signupForm)">
                <div class="form-group">
                    <input type="text" formControlName='fname' placeholder="Enter your First Name">
                   <br> <span class="text-danger" *ngIf="Fname.errors?.required">First Name is required</span>
                </div><br>
                <div class="form-group">
                    <input type="text" formControlName='lname' placeholder="Enter your Last Name">
                </div><br>
                <div class="form-group">
                    <input type="text" formControlName='Emailid' placeholder="Enter your Email">
                </div><br>
                <div class="form-group">
                    <input type="password" formControlName='userpass' placeholder="Enter your Password">
                </div><br>
                <div>
                    <button type="submit" class="btn btn-primary" id="ss" [disabled]='signupForm.invalid'>Post Data</button>
                    <button class="btn btn-danger ml-3" (click)="resetForm()">Reset</button>
                    <button class="btn btn-success ml-3" (click)="filldata()">Fill Data</button>
                </div>
            </form>
        </div>
    </div> -->
    <!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div formArrayName="ContactNos">
            <div *ngFor="let contact of form .controls.ContactNos.controls;index as i">
                <input [formControlName]="i" placeholder="Contact No">
            </div>
        </div>
    </form>
    <button (click)="addContactNo()">Add new Contact</button>
    <button (click)="setPreset()">Set preset</button> -->
</div>
    <mat-toolbar color="accent">Prakhar Kalvit</mat-toolbar>
    <mat-card>
        <mat-card-title>
            Angular Material Component
        </mat-card-title>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Favorite food</mat-label>
                  <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
              </form>
        </mat-card-content>
    </mat-card>

    <app-table></app-table>
    